<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @* <title>@ViewData["Title"] - SUClient</title> *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SUClient.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="sidenav gap-5">
        <br />
        <a onclick="GoToThatPage('')">Questions</a>
        <br />
        <a onclick="GoToThatPage('Tags')">Tags</a>
        <br />
        <a>Users</a>
        <br />
        <a class="nav-link text-white" id="loginpagebutton" onclick="GoToThatPage('LoginPage')">Log in</a>
        <a class="nav-link text-white" id="registerpagebutton" onclick="GoToThatPage('Register')">Sign Up</a>

        <div id="userPanel" class="userPanel">
            <div class="dropdown text-white">
                Welcome, <span id="userloginname"></span>!
                <div class="dropdown-content">
                    <a id="userNotif" class="userNotif text-black" onclick="GoToMyProfile()">Profile</a>
                    <a id="userActions" class="userActions text-black" onclick="GoToThatPage('ChangePassword')">ChangePassword</a>
                    <label id="userAccount" class="userAccount text-black" onclick="logout()">Logout</label>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            @* &copy; 2023 - SUClient - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/app.js" asp-append-version="true"></script>
    <script src="~/js/ask.js" asp-append-version="true"></script>
    <script src="~/js/user.js" asp-append-version="true"></script>
    <script src="~/js/loadingactions.js" asp-append-version="true"></script>
    <script src="~/js/tags.js" asp-append-version="true"></script>



    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        AuthUserKindaAutomatically();
        var userName = localStorage.getItem('userName');
        if (userName) {
            // Set the text content of the element with the ID "userloginname"
            document.getElementById('userloginname').textContent = userName;
        }
    });
</script>
