<div id="content">

    <div id="user-content">

    </div>
    <div id="main-content">
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        GetUserDetails();
    });

</script>