<div id="mainBar">
    <h1 class="flex--item fl1 fs-headline1 mr12 mb12">All Questions</h1>

    <div class="aside-cta flex--item mb12 print:d-none">
        <a href="/questions/ask" class="ws-nowrap s-btn s-btn__primary">
            Ask Question
        </a>
    </div>
    <div id="questions" class="flush-left">

    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        GetAllQuestions();
    });

</script>