<div id="main-content">

<div id="post-content"></div>
<div id="comment-content"></div>

</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        doboth();
    });
</script>
