<div id="main-content">

<div id="post-content"></div>
    <div id="comment-content"><h3>Comments</h3></div>

</div>
<footer>

<div>
    <h3>Your Answer</h3>
    <input id="answer-input"/>
</div>
<button onclick="PostComment()">Post Your Answer</button>
</footer>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        doboth();
    });
</script>
