<style>
    .content-body{
        display: inline-block;
        padding: 6px 12px;
        background-color: #007bff;
        color: #fff;
        border-radius: 4px;
        transition: background-color 0.2s;
    }
    .content-body a{
        color:white;
    }
    </style>
<body onload="GetTags()">

<div id="fullbody">
    <div id="tagbody">

    </div>
</div>
</body>